@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");
// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');


.modal {
  position: fixed;
  top: 0;
  left: 0;
}


* {
    -webkit-overflow-scrolling: touch;
}

html{
    min-height: 100% !important;
    height: 100%;
}

.form-control {
  font-size: 16px;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    // color: white;
    // background-color: black;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

hr.small {
    max-width: 20vw;
}

.toggle {
    margin: 5px 5px 0 0;
}


.about {
    padding: 50px 0;
}


body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 35px;
    background-color: white;
}

.row-pad {
    padding-top: 30px;
    padding-bottom: 50px;
}

.clr-white {
    color: #000;
}
