@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");
// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');


.modal {
  position: fixed;
  top: 0;
  left: 0;
}

.dropdown-item {
  display: block
}

* {
    -webkit-overflow-scrolling: touch;
}

html{
    min-height: 100% !important;
    height: 100%;
}

.form-control {
  font-size: 16px;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    // color: white;
    // background-color: black;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

hr.small {
    max-width: 20vw;
}

.toggle {
    margin: 5px 5px 0 0;
}


.about {
    padding: 50px 0;
}


body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: white;
}

.row-pad {
    padding-top: 30px;
    padding-bottom: 50px;
}

.clr-white {
    color: #000;
}

.fullstar {
  color: orange;
}


.react-autosuggest__container {
  display: block;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.s1 {
  text-align: left;
}

.p1 {
  text-align: left;
}
.p2 {
  text-align: left;
}
.p3 {
  text-align: left;
}
.p4 {
  text-align: left;
}
.p5 {
  text-align: left;
}
.p6 {
  text-align: left;
}
.p7 {
  text-align: left;
}
.p8 {
  text-align: left;
}
.p9 {
  text-align: left;
}



.react-autosuggest__suggestions-container--open {
  display: block;
  position: fixed;
  width: 40%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding-left: 20;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
