.dropdown-menu a{
  color: white;
  text-decoration: none;
  padding-left: 15px;
}
.dropdown-menu {
  background-color: #595959;
  color: white;
}

.navbar-collapse {
  height: 100%;
}

.nav-item {
  margin-top: 4px;
}

.navbar-nav li a{
  padding: 15px 9px 15px 9px;
}
